.inputSearch{ 
    border-radius: 10px;
    border: 3px solid rgba(128, 128, 128, 0.986);
    size: 200px;
    font-size: 20px;
    height: 34px;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;}
.buttonSearch{
    margin: 2em auto;
    display: inline-block;
  -webkit-appearance: none;
  border: 3px solid rgba(128, 128, 128, 0.986);
  border-radius: 10px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  border-style:solid;
  position: relative;
  color: black;
  background-color: rgb(8, 230, 175);
  font-size: 15px;
}