.inputSearch{ 
  font-family: Titillium Web;
  height: 35px;
  border-radius: 100px;
  width: 200px;
  font-size: 15px;
  border-color: rgba(255, 255, 255, 0.308);}
.buttonSearch{
    margin: 2em auto;
    display: inline-block;
  -webkit-appearance: none;
  border: 3px solid rgba(128, 128, 128, 0.986);
  border-radius: 10px;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  border-style:solid;
  position: relative;
  color: black;
  background-color: rgb(8, 230, 175);
  font-size: 15px;
}
.buttonSearch:hover{
  background-color: rgba(15, 182, 233, 0.692);
  color: rgb(223, 35, 35);
  transform: scale(1.10);
  box-shadow: 0 5px 10px rgb(196, 192, 192);
}
.inputSearch:hover{
  box-shadow: 0 5px 10px rgb(196, 192, 192)
}